ex-1 h1 {
  /* background-color: seagreen; */
}

/* ex-2 */
/* nav > a {
  background-color: red;
} */
/* ex-3 */
.jumbotron .col-md-6 p > a {
  /* background-color: green; */
}
/* ex-4 i should take a look more on the + below to understand it better as its so importatnt to know it.*/
.blog-main h3 + .blog-post {
  /* background-color: greenyellow; */
}
/* 5 */
nav a:nth-child(even) {
  /* background-color: greenyellow; */
}
/* ex-6 */
.blog-post:nth-of-type(3) {
  /* background-color: red; */
}
/* ex-7 need hard look here*/
.rounded + .p-4 .list-unstyled li a {
  /* background-color: hotpink; */
}
/* Ex-8 */
.blog-post:nth-of-type(2) h2 + p a {
  /* background-color: red; */
}
/* Ex-9 */
p + p:last-of-type a {
  background-color: yellow;
}

footer {
  background-color: red;
}

.jumbotron {
  /* background-color: red; */
}
